<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>+praTI - CRUD - HOME</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <h1>+praTI</h1>
    <h4>Seja bem-vinda(o) ao projeto CRUD em Java</h4>
    <h6>(Desafio proposto pela escola alfamídia, relacionado ao programa +praTI)</h6>
    <br>
    <a class="h3" th:href="@{/users}">VERIFICAR CADASTROS</a>
</div>
</body>
</html>

